#FloatCart_pageSecond {
    background-color: white;
    border: 0.5px solid rgba(161, 161, 161, 0.5);
    position: fixed;
    height: 130px;
    left: 4.2%;
    bottom: 60px;
    width: 78%;
    cursor: pointer;
    z-index: 104;
    margin-left: 7%;
  }
  #div1_video1 {
    margin-top: -213%;
    margin-left: 50%;
  }